/*
  CSS Reset from MeyerWeb
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  CSS Reset End
*/
@font-face {
  font-family: "GaramondSC";
  src: url("../fonts/Garamond Classico SC Regular.ttf");
}

/* Common design elements defined for SCSS */
/* Defining mixin navButtons used to style dropdown menu elements */
/* Default styling for mobile, changes for higher screen widths */
body {
  background-image: url("../images/papertexture2.jpg");
  background-repeat: repeat;
  background-color: #f2f3f4;
  font-size: 24px;
  font-family: "Garamond Classico SC Regular", garamond, serif;
}

/* Dropdown menu for navigation on mobile devices */
.menu {
  position: fixed;
  padding-top: 2em;
  padding-right: 3em;
  margin-right: 3em;
  right: 6em;
  display: inline-block;
}

.menu span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  position: fixed;
  background-color: #f2f3f4;
  border: 0.2em solid black;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 3em;
  width: 3em;
  font-size: 3em;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu span:hover {
  background-color: black;
  color: #f2f3f4;
  border: 0.2em solid #f2f3f4;
}

.menu a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  position: fixed;
  background-color: #f2f3f4;
  border: 0.2em solid black;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 3em;
  width: 3em;
  font-size: 3em;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu a:hover {
  background-color: black;
  color: #f2f3f4;
  border: 0.2em solid #f2f3f4;
}

.menu a.hidden {
  visibility: hidden;
}

.menu a:nth-child(1).show {
  -webkit-transform: translate(0px, 3.3em);
          transform: translate(0px, 3.3em);
  visibility: visible;
}

.menu a:nth-child(2).show {
  -webkit-transform: translate(0px, 6.6em);
          transform: translate(0px, 6.6em);
  visibility: visible;
}

.menu a:nth-child(3).show {
  -webkit-transform: translate(0px, 9.9em);
          transform: translate(0px, 9.9em);
  visibility: visible;
}

.menu a:nth-child(4).show {
  -webkit-transform: translate(0px, 13.2em);
          transform: translate(0px, 13.2em);
  visibility: visible;
}

/* Styling header for desktop navigation bar */
header {
  display: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
}

header a {
  padding: 0.3em 0.4em;
  color: black;
  text-decoration: none;
  text-shadow: 0px 1px 3px darkslategray;
}

header a:hover {
  text-shadow: 0px 1px 3px black;
}

header #headerLogo {
  margin-right: auto;
}

header img {
  max-height: 40px;
}

/* Styling logo wherever it may be */
.logo {
  max-width: 24em;
  max-height: 24em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* Styling main content wrapper for all pages */
.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  max-height: 100%;
  max-width: 90%;
  margin: auto;
  margin-top: 5%;
  padding: 1em;
}

.mainContent h1 {
  font-size: 5.5em;
  padding: inherit;
  font-family: "GaramondSC", Garamond, Serif;
  text-shadow: 0px 1px 3px darkslategray;
}

.mainContent h2 {
  font-size: 4.5em;
  padding: inherit;
  margin-bottom: 5%;
  text-shadow: 0px 1px 3px darkslategray;
}

.mainContent h3 {
  font-size: 3em;
  padding: inherit;
  text-shadow: 0px 1px 3px darkslategray;
}

.mainContent p {
  font-size: 2em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: inherit;
  line-height: 1.3em;
}

/* Styles the blog posts, including images.
  uses nth-child to alternate post styles for variety*/
.blogItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3%;
  margin: 2% 2% 5% 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: inset 3px #f2f3f4;
}

.blogItem img {
  width: 55%;
  padding-left: 10px;
  padding-bottom: 10px;
}

.blogItem h3 {
  width: 35%;
}

.blogItem:nth-child(even) img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.blogItem .blogDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 2em;
  text-shadow: 0px 1px 3px darkslategray;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body {
  color: green;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  body {
    color: red;
    font-size: 16px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    color: turquoise;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    display: none;
  }
}

/* Swap to header navigation and disable logo in header for landscape devices */
/* Disabled for testing layouts
@media only screen and (max-width: 991px) and (orientation: landscape) {
  header {
    display: flex;
  }
  .menu {
    display: none;
  }
  #headerLogo {
    display: none;
  }
}
*/
/*# sourceMappingURL=style.css.map */