/*
  CSS Reset from MeyerWeb
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  CSS Reset End
*/
@font-face {
  font-family: "GaramondSC";
  src: url("../fonts/Garamond Classico SC Regular.ttf");
}

/* Common design elements defined for SCSS */
/* Defining mixin navButtons used to style dropdown menu elements */
/* Mixin to swap menu styles for media queries*/
/* Default styling for mobile, changes for higher screen widths */
body {
  background-image: url("../images/papertexture2.jpg");
  background-repeat: repeat;
  background-color: #f2f3f4;
  font-size: 16px;
  font-family: "Garamond Classico SC Regular", garamond, serif;
  color: purple;
}

/* Dropdown menu for navigation on mobile devices */
.menu {
  position: fixed;
  padding-top: 0;
  right: 25%;
  display: inline-block;
  font-size: 20px;
}

.menu span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  position: fixed;
  background-color: #f2f3f4;
  border: 6px solid black;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu span:hover {
  background-color: black;
  color: #f2f3f4;
  border: 6px solid #f2f3f4;
}

.menu a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  position: fixed;
  background-color: #f2f3f4;
  border: 6px solid black;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu a:hover {
  background-color: black;
  color: #f2f3f4;
  border: 6px solid #f2f3f4;
}

.menu a.hidden {
  visibility: hidden;
}

.menu a:nth-child(1).show {
  -webkit-transform: translate(0px, 82.5px);
          transform: translate(0px, 82.5px);
  visibility: visible;
}

.menu a:nth-child(2).show {
  -webkit-transform: translate(0px, 165px);
          transform: translate(0px, 165px);
  visibility: visible;
}

.menu a:nth-child(3).show {
  -webkit-transform: translate(0px, 247.5px);
          transform: translate(0px, 247.5px);
  visibility: visible;
}

.menu a:nth-child(4).show {
  -webkit-transform: translate(0px, 330px);
          transform: translate(0px, 330px);
  visibility: visible;
}

/* Styling header for desktop navigation bar */
header {
  display: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  top: 0;
}

header a {
  padding: 0.3em 0.4em;
  color: black;
  font-size: 1.3em;
  text-decoration: none;
  text-shadow: 0px 1px 3px darkslategray;
}

header a:hover {
  text-shadow: 0px 1px 3px black;
}

header #headerLogo {
  margin-right: auto;
}

header img {
  max-height: 24px;
}

/* Styling logo wherever it may be */
.logo {
  max-width: 30%;
  max-height: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* Styling main content wrapper for all pages */
.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  max-height: 100%;
  max-width: 90%;
  margin: auto;
  margin-top: 5%;
  padding: 1em;
}

.mainContent h1 {
  font-size: 3.5em;
  padding: inherit;
  font-family: "GaramondSC", Garamond, Serif;
  text-shadow: 0px 1px 3px darkslategray;
}

.mainContent h2 {
  font-size: 2.5em;
  padding: inherit;
  text-shadow: 0px 1px 3px darkslategray;
}

.mainContent h3 {
  font-size: 2em;
  padding: inherit;
  text-shadow: 0px 1px 3px darkslategray;
}

.mainContent p {
  font-size: 1.3em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: inherit;
  line-height: 1.3em;
}

.mainContent .aboutLinks {
  padding: inherit;
}

.mainContent .aboutLinks a {
  padding: inherit;
  color: black;
  font-size: 2.5em;
  text-decoration: none;
  text-shadow: 0px 1px 3px darkslategray;
}

.mainContent .aboutLinks a:hover {
  text-shadow: 0px 1px 3px black;
}

/* Styles the blog posts, including images.
  uses nth-child in media queries to alternate post styles for variety*/
.blogItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 3%;
  margin: 2% auto 5% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: inset 3px #f2f3f4;
}

.blogItem img {
  width: 90%;
  border: inset 2px #f2f3f4;
  margin: 10px;
}

.blogItem h3 {
  width: 80%;
  text-align: center;
}

.blogItem .blogDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 1.5em;
  color: darkslategrey;
  text-shadow: 0px 1px 3px darkslategray;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blogContainer {
  margin-top: 5%;
}

.pageTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageTitle h1 {
  margin-bottom: 0.5em;
}

.pageTitle h2 {
  margin-bottom: 0.5em;
}

/* Small devices (portrait tablets and large phones, up to ) */
@media only screen and (min-width: 570px) {
  body {
    color: red;
  }
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .menu {
    display: none;
  }
}

/* Ignore a small window if on desktop */
@media only screen and (min-device-width: 1000px) {
  body {
    color: green;
  }
  body .logo {
    max-width: 15%;
    max-height: 15%;
  }
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .menu {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1000px) {
  body {
    color: deeppink;
  }
  body .mainContent {
    max-width: 70%;
  }
  body .logo {
    max-width: 15%;
    max-height: 15%;
  }
  body .blogItem:nth-child(even) img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .menu {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1400px) {
  body {
    color: deepskyblue;
  }
  body .mainContent {
    max-width: 50%;
  }
  body .logo {
    max-width: 15%;
    max-height: 15%;
  }
  body .blogItem:nth-child(even) img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .menu {
    display: none;
  }
}

/* Swap to header navigation and disable logo in header for landscape devices */
/*# sourceMappingURL=style.css.map */