/*
  CSS Reset from MeyerWeb
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
  CSS Reset End
*/




@font-face {
  font-family: "GaramondSC"; 
  src: url('../fonts/Garamond\ Classico\ SC\ Regular.ttf');
} 


/* Common design elements defined for SCSS */
$dark-colour: black;
$light-colour: #f2f3f4;
$darkish-colour: darkslategray;
$button-size: 75px;
$gap-size: ($button-size * 1.1);

/* Defining mixin navButtons used to style dropdown menu elements */
@mixin navButtons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $dark-colour;
  position: fixed;
  background-color: $light-colour;
  border: 6px solid $dark-colour;
  border-radius: 50%;
  width: $button-size;
  height: $button-size;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  box-sizing: border-box;
    &:hover {
      background-color: $dark-colour;
      color: $light-colour;
      border:  6px solid $light-colour;
    }
}

/* Mixin to swap menu styles for media queries*/
@mixin swapToHeader {
  header {
    display: flex;
  }
  .menu {
    display: none;
  }
}

/* Default styling for mobile, changes for higher screen widths */
body {
  background-image: url("../images/papertexture2.jpg");
  background-repeat: repeat;
  // background-size: 100px;
  background-color: $light-colour;
  font-size: 16px;
  font-family: "Garamond Classico SC Regular", garamond, serif;
  color: purple;
}

/* Dropdown menu for navigation on mobile devices */
.menu {
  position: fixed;
  padding-top: 0;
  right: 25%;
  display: inline-block;
  font-size: 20px;
  span {
    @include navButtons();
  }
  a {
    @include navButtons();
  
    
    &.hidden {
      visibility: hidden;
    }
    &:nth-child(1) {
      &.show {
        transform: translate(0px, ($gap-size));
        visibility: visible;
      }
    }
    &:nth-child(2) {
      &.show {
        transform: translate(0px, ($gap-size * 2));
        visibility: visible;
      }
    }
    &:nth-child(3) {
      &.show {
        transform: translate(0px, ($gap-size * 3));
        visibility: visible;
      }
    }
    &:nth-child(4) {
      &.show {
        transform: translate(0px, ($gap-size * 4));
        visibility: visible;
      }
    }
  }
}

/* Styling header for desktop navigation bar */
header {
  display: none;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  top: 0;
  a {
    padding: 0.3em 0.4em;
    color: $dark-colour;
    font-size: 1.3em;
    text-decoration: none;
    text-shadow: 0px 1px 3px $darkish-colour;
    &:hover {
      text-shadow: 0px 1px 3px $dark-colour;
    }
  }
  #headerLogo {
    margin-right: auto;
  }
  img {
    max-height: 24px;
  }
}



/* Styling logo wherever it may be */
.logo {
  max-width: 40%;
  max-height: 40%;
  align-self: center;
}


/* Styling main content wrapper for all pages */
.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  max-height: 100%;
  max-width: 90%;
  margin: auto;
  margin-top: 5%;
  padding: 1em;
  h1 {
    font-size: 3.5em;
    padding: inherit;
    font-family: "GaramondSC", Garamond, Serif;
    text-shadow: 0px 1px 3px $darkish-colour;
  }
  h2 {
    font-size: 2.5em;
    padding: inherit;
    text-shadow: 0px 1px 3px $darkish-colour;
  }
  h3 {
    font-size: 2em;
    padding: inherit;
    text-shadow: 0px 1px 3px $darkish-colour;
  }
  p {
    font-size: 1.3em;
    align-self: flex-end;
    padding: inherit;
    line-height: 1.3em;
  }
  .aboutLinks {
    padding: inherit;
    a {
      padding: inherit;
      color: $dark-colour;
      font-size: 2.5em;
      text-decoration: none;
      text-shadow: 0px 1px 3px $darkish-colour;
      &:hover {
        text-shadow: 0px 1px 3px $dark-colour;
      }
    } 
  }
}



/* Styles the blog posts, including images.
  uses nth-child in media queries to alternate post styles for variety*/
.blogItem {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 3%;
  margin: 2% auto 5% auto;
  align-items: center;
  border: inset 3px $light-colour;
  img {
    width: 70%;
    border: inset 2px $light-colour;
    margin: 10px;
  }
  h3 {
    width: 70%;
    text-align: center;
  }
  .blogDate {
    display: flex;
    width: 100%;
    font-size: 1.5em;
    color: darkslategrey;
    text-shadow: 0px 1px 3px $darkish-colour;
    justify-content: flex-end;
    
  }
}

.blogContainer {
  margin-top: 5%;
}

.pageTitle {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  h1 {
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 1em;
  }
}



  
/* Small devices (portrait tablets and large phones, up to ) */
@media only screen and (min-width: 570px) {
  body {
    color: red;
    .blogItem {
      flex-direction: row;
      flex-wrap: wrap;
      img {
        max-width: 60%;
      }
      h3 {
        width: 30%;
      }
    }
    .logo {
      max-width: 40%;
      max-height: 40%;
    }
    @include swapToHeader()
  }
}

/* Ignore a small window if on desktop */
@media only screen and (min-device-width: 1000px) {
  body {
    color: green;
    .logo {
      max-width: 15%;
      max-height: 15%;
    }
    @include swapToHeader()
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1000px) {

  body {
    .mainContent {
      max-width: 70%;
    }
    color: deeppink;
    .logo {
      max-width: 15%;
      max-height: 15%;
    }
    .blogItem {
      &:nth-child(even) {
        img {
          order: -1;
        }
      }
    }
    @include swapToHeader()
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1400px) {

  body {
    .mainContent {
      max-width: 50%;
    }
    color:deepskyblue;
    .logo {
      max-width: 15%;
      max-height: 15%;
    }
    .blogItem {
      &:nth-child(even) {
        img {
          order: -1;
        }
      }
    }
    @include swapToHeader()
  }
}

/* Swap to header navigation and disable logo in header for landscape devices */
// @media only screen and (orientation: landscape) { 
//   body {
//     color: lime;
//     @include swapToHeader()
//   }
// }

