/*
  CSS Reset from MeyerWeb
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  CSS Reset End
*/
/* Common design elements defined for SCSS */
/* Defining mixin navButtons used to style dropdown menu elements */
/* Dropdown menu for navigation on mobile devices */
.menu {
  position: absolute;
  right: 20%;
  top: 15%;
  display: inline-block;
  font-size: 20px;
}

.menu span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  position: absolute;
  background-color: #f2f3f4;
  border: 0.2em solid black;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 2em;
  width: 2em;
  font-size: 2em;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu span:hover {
  background-color: black;
  color: #f2f3f4;
  border: 0.2em solid #f2f3f4;
}

.menu a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  position: absolute;
  background-color: #f2f3f4;
  border: 0.2em solid black;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 2em;
  width: 2em;
  font-size: 2em;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu a:hover {
  background-color: black;
  color: #f2f3f4;
  border: 0.2em solid #f2f3f4;
}

.menu a.hidden {
  visibility: hidden;
}

.menu a:nth-child(1).show {
  -webkit-transform: translate(0px, 2.5em);
          transform: translate(0px, 2.5em);
  visibility: visible;
}

.menu a:nth-child(2).show {
  -webkit-transform: translate(0px, 5em);
          transform: translate(0px, 5em);
  visibility: visible;
}

.menu a:nth-child(3).show {
  -webkit-transform: translate(0px, 7.5em);
          transform: translate(0px, 7.5em);
  visibility: visible;
}

.menu a:nth-child(4).show {
  -webkit-transform: translate(0px, 10em);
          transform: translate(0px, 10em);
  visibility: visible;
}

/* Styling header for desktop navigation bar */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header a {
  padding: 0.3em 0.4em;
  color: black;
  text-decoration: none;
  text-shadow: 0px 1px 3px darkslategray;
}

header a:hover {
  text-shadow: 0px 1px 3px black;
}

body {
  background-color: #f2f3f4;
}

/* Styling logo wherever it may be */
.logo {
  max-width: 40%;
  max-height: 40%;
}

/* Styling main content for index and about page */
.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  max-height: 100%;
  max-width: 95%;
  margin: 5% 5% 5%;
  border: solid 4px green;
  margin: auto;
  margin-top: 5%;
  font-size: 18px;
}

.mainContent h1 {
  font-size: 4em;
  padding: 1em;
}

.mainContent h2 {
  font-size: 3em;
  padding-bottom: 3em;
}

.mainContent p {
  font-size: 2em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mainContent .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */